<!DOCTYPE html>
<html>
<head>
  <title>Swissduck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv-printshiv' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
